<!doctype html>
<html>
    <head lang = "en">
        <title> Login </title>
        <style>
            
        </style>
    </head>
    
    <body>
    <h1>   Login </h1>
        <br>
      <p> If you do not have an account sign up<a href = "next.html"> here!</a> </p>  
        <form action="">
               Email:<br> <input type="text" name="email"><br>
               Password:<br> <input type="password" name="password"><br>
               Mobile number: <br> <input type="text" name="mobile"><br>
         <input type="submit" value="Login">
         </form>
    </body>
</html>